{% extends 'layouts/guest.twig' %}
{% import "macros/form.twig" as input %}

{% block content %}

    <main class="flex flex-col space-y-2 flex-grow items-center justify-center">
        <form action="{{ url_for('login') }}" method="post" class="bg-slate-100 p-8 flex flex-col space-y-4 max-w-sm w-full shadow rounded-lg">
            {{ input.email('Email', 'email', form.email, errors.email, 'autofocus autocomplete="email" required') }}
            {{ input.password('Password', 'password', errors.password, 'autocomplete="current-password" required') }}
            <div class="pt-2">
                {{ input.submit("Login") }}
            </div>
            {% include "partials/csrf.twig" %}
        </form>
        <p class="text-center text-sm"><a href="{{ url_for('register') }}" class="text-slate-600 hover:underline focus:underline focus:outline-none">Don't have an account yet ?</a></p>
    </main>

{% endblock %}
